.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  color: var(--gray);
  padding-bottom: 0px;
  margin-bottom: 16px;

  border-bottom: none;

  @include montserrat_400_14;

  @include respond(md) {
    border-bottom: 1px solid var(--gray-3);
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  &.noBorder {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.btnCopy {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  position: relative;
  width: 20px;
  height: 20px;

  &:hover {
    .copy {
      color: var(--blue);
    }
  }

  &.copied {
    .copy {
      opacity: 0;
      transform: scale(0.5);
    }
    .check {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color: var(--black);

  @include transition;

  &.check {
    opacity: 0;
    transform: scale(0.5);
    color: var(--success);
  }
}
