.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--black);
  text-align: center;
  margin-bottom: 24px;

  @include montserrat_500_18;

  @include respond(sm) {
    margin-bottom: 64px;

    @include montserrat_500_24;
  }
}

.methods {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px;
  margin-bottom: 24px;

  @include respond(lg) {
    gap: 16px;
    padding: 0px 70px;
  }
}

.gapText {
  text-align: center;
  color: var(--gray);
  margin-top: 8px;

  @include montserrat_400_14;

  @include respond(lg) {
    margin-top: 16px;
  }
}
