.content {
  height: calc(100vh - 56px - 28px - 16px);

  display: grid;
  grid-template-columns: minmax(100px, 588px) minmax(100px, 384px);
  justify-content: center;
  gap: 24px;

  @include respond(sm) {
    height: calc(100vh - 72px - 58px - 24px);
  }
}

.view {
  background: var(--background-form);
  box-shadow: var(--shadow-form);
  padding: 16px;
  border-radius: 16px;
  height: max-content;

  @include respond(sm) {
    padding: 24px;
  }
}
