.main {
  height: calc(100vh - 100px);
  margin: 0px 16px;

  @include respond(sm) {
    height: calc(100vh - 154px);
    margin: 0px 24px;
  }

  &.invoice {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    gap: 24px;

    @include respond(md) {
      display: grid;
      grid-template-columns: minmax(100px, 588px) minmax(100px, 384px);
      justify-content: center;
    }
  }

  &.status {
    display: grid;
    grid-template-columns: minmax(100px, 384px);
    justify-content: center;
  }

  &.error {
    display: grid;
    grid-template-columns: minmax(100px, 384px);
    justify-content: center;
  }
}
