.sbpNspk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: var(--black);
  margin-bottom: 32px;

  @include montserrat_500_22;
}

.redirectText {
  text-align: center;
  color: var(--black);
  margin-bottom: 32px;

  @include montserrat_400_18;
}

.description {
  color: var(--black);
  margin-bottom: 4px;

  @include montserrat_400_14;
}

.btn {
  margin-bottom: 24px;
}
