.loader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marginBottom24 {
  margin-bottom: 24px;
}

.marginBottom32 {
  margin-bottom: 32px;
}

.marginBottom4 {
  margin-bottom: 4px;
}
