@use 'sass:map';

// Media Queries Mixins
$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

@mixin respond($bp) {
  @if map.has-key($breakpoints, $bp) {
    @media (min-width: map.get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$bp}";
  }
}

// Smooth Transition
@mixin transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@mixin noScrollBar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Fonts
@mixin montserrat_400_8 {
  font-family: var(--font-montserrat);
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}

@mixin montserrat_400_12 {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}

@mixin montserrat_600_12 {
  font-family: var(--font-montserrat);
  font-size: 12px;
  font-weight: 600;
  line-height: 150%;
}

@mixin montserrat_400_14 {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
